# Cleaning our dataset

In [1]:
# Importing necessary libraries
import pandas as pd
from IPython.display import display
import numpy as np

In [2]:
# Loading the dataset
df = pd.read_csv('data/Energy_LineApril2022to2024.csv')

## Missing Values
In our dataset, we have identified several missing values that need to be addressed. Additionally, some data points appear to be anomalous and require adjustment. In this notebook, we will focus on managing these missing values and correcting any irregular data to ensure the dataset's integrity and accuracy.

In [3]:
# Identifying missing values
missing_values = df.isnull().sum().sort_values(ascending=False)

missing_values[missing_values > 0]

kilometres                  28372
tiempo_parada                1289
tiempo_marcha                1289
avg_voltage                   355
rheostatic_energy_weight      163
rheostatic_energy             163
dtype: int64

In [4]:
# Identifying rows with missing values for tiempo_parada and tiempo_marcha
rows_with_missing_values_tiempo = df[['tiempo_parada', 'tiempo_marcha']].isnull().any(axis=1)

# Getting the indices of rows with missing values
indices_with_missing_values_tiempo = df[rows_with_missing_values_tiempo].index

df.loc[rows_with_missing_values_tiempo]

,ut,start_date,end_date,current_station,next_station,current_station_code,next_station_code,client_line,track,tiempo_marcha,...,regenerated_traction_energy,catenary_regenerated_energy,regenerated_energy_to_auxiliaries,net_energy_consumed_by_UT_weight,auxiliary_energy_consumed_weight,traction_energy_weight,rheostatic_energy_weight,regenerated_traction_energy_weight,catenary_regenerated_energy_weight,regenerated_energy_to_auxiliaries_weight
1886,921,2023-01-02T16:25:45.000Z,2023-01-02T16:32:39.000Z,Toletxegain,Mendaro,52,54,Bilbao-Donostia,1,NaN,...,4.770206,-3.324615,-1.445592,12.010223,4.377867,11.521957,-3.909015,3.889601,-2.710873,-1.178728
6037,924,2023-01-04T13:52:38.000Z,2023-01-04T13:59:30.000Z,Mendaro,Toletxegain,54,52,Bilbao-Donostia,2,NaN,...,1.536600,-0.715225,-0.821376,26.927420,4.728646,23.457251,-2.716363,1.258477,-0.585769,-0.672708
9572,928,2023-01-06T09:25:04.000Z,2023-01-06T09:32:16.000Z,Toletxegain,Mendaro,52,54,Bilbao-Donostia,1,NaN,...,5.912077,-2.787087,-3.124990,15.610596,6.517400,14.001114,-5.395931,4.907917,-2.313703,-2.594214
11261,927,2023-01-07T14:52:25.000Z,2023-01-07T14:59:01.000Z,Mendaro,Toletxegain,54,52,Bilbao-Donostia,2,NaN,...,1.272201,-0.448844,-0.823357,29.351266,3.411980,26.976463,-5.425617,1.037177,-0.365925,-0.671252
11366,904,2023-01-07T15:53:51.000Z,2023-01-07T16:21:26.000Z,Durango,Kukullaga,27,211,Bilbao-Donostia,2,NaN,...,38.587767,-36.423945,-2.163822,61.129044,7.885915,85.604557,-14.891012,32.361428,-30.546750,-1.814677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132054,926,2024-04-16T18:52:44.000Z,2024-04-16T18:59:58.000Z,Mendaro,Toletxegain,54,52,Bilbao-Donostia,2,NaN,...,3.625706,-1.995791,-1.629914,35.848256,4.817053,33.990480,-3.445546,2.959277,-1.628952,-1.330325
3138710,903,2024-04-19T18:25:34.000Z,2024-04-19T18:32:12.000Z,Toletxegain,Mendaro,52,54,Bilbao-Donostia,1,NaN,...,3.770427,-2.959756,-0.810671,15.159441,2.395114,15.877552,-5.487504,3.113225,-2.443858,-0.669368
3145986,921,2024-04-23T11:54:46.000Z,2024-04-23T12:01:15.000Z,Mendaro,Toletxegain,54,52,Bilbao-Donostia,2,NaN,...,4.974187,-3.749397,-1.224790,31.149296,5.105337,30.162345,-4.887365,4.118386,-3.104319,-1.014067
3156994,928,2024-04-28T17:23:55.000Z,2024-04-28T17:49:57.000Z,Uribarri,Matiko,216,217,L3 Txori,1,NaN,...,0.000000,0.000000,0.000000,0.010102,0.010102,0.000000,0.000000,0.000000,0.000000,0.000000
3159265,930,2024-04-29T18:23:25.000Z,2024-04-29T18:30:25.000Z,Toletxegain,Mendaro,52,54,Bilbao-Donostia,1,NaN,...,4.538405,-3.396848,-1.141557,13.182857,3.724794,13.152327,-6.349078,3.694265,-2.765037,-0.929228

In [5]:
# Identifying rows with missing values for rheostatic_energy and rheostatic_energy_weight
rows_with_missing_values_rheostatic = df[['rheostatic_energy', 'rheostatic_energy_weight']].isnull().any(axis=1)

# Getting the indices of rows with missing values
indices_with_missing_values_rheostatic = df[rows_with_missing_values_rheostatic].index

df.loc[rows_with_missing_values_rheostatic]

,ut,start_date,end_date,current_station,next_station,current_station_code,next_station_code,client_line,track,tiempo_marcha,...,regenerated_traction_energy,catenary_regenerated_energy,regenerated_energy_to_auxiliaries,net_energy_consumed_by_UT_weight,auxiliary_energy_consumed_weight,traction_energy_weight,rheostatic_energy_weight,regenerated_traction_energy_weight,catenary_regenerated_energy_weight,regenerated_energy_to_auxiliaries_weight
1848470,908,2022-11-09T09:52:12.000Z,2022-11-09T09:53:50.000Z,Irun,Belaskoenea,75,74,Donostia-Hendaia,2,90.0,...,0.0,0.0,0.0,0.002977,0.436838,0.0,NaN,0.0,0.0,0.0
1848471,908,2022-11-09T09:54:11.000Z,2022-11-09T09:56:07.000Z,Belaskoenea,Bentak,74,73,Donostia-Hendaia,2,120.0,...,0.0,0.0,0.0,0.002345,0.332606,0.0,NaN,0.0,0.0,0.0
1848472,908,2022-11-09T09:56:27.000Z,2022-11-09T10:03:36.000Z,Bentak,Oiartzun,73,71,Donostia-Hendaia,2,460.0,...,0.0,0.0,0.0,0.002846,1.983214,0.0,NaN,0.0,0.0,0.0
1848473,908,2022-11-09T10:04:08.000Z,2022-11-09T10:05:37.000Z,Oiartzun,Fanderia,71,98,Donostia-Hendaia,2,70.0,...,0.0,0.0,0.0,0.002491,0.255456,0.0,NaN,0.0,0.0,0.0
1848474,908,2022-11-09T10:06:01.000Z,2022-11-09T10:07:42.000Z,Fanderia,Errenteria,98,70,Donostia-Hendaia,2,100.0,...,0.0,0.0,0.0,0.002895,0.292450,0.0,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2862687,908,2022-11-09T09:16:54.000Z,2022-11-09T09:18:27.000Z,Errenteria,Fanderia,70,98,Donostia-Hendaia,1,90.0,...,0.0,0.0,0.0,0.002884,0.260014,0.0,NaN,0.0,0.0,0.0
2862688,908,2022-11-09T09:18:51.000Z,2022-11-09T09:20:06.000Z,Fanderia,Oiartzun,98,71,Donostia-Hendaia,1,70.0,...,0.0,0.0,0.0,0.002597,0.202727,0.0,NaN,0.0,0.0,0.0
2862689,908,2022-11-09T09:20:27.000Z,2022-11-09T09:28:07.000Z,Oiartzun,Bentak,71,73,Donostia-Hendaia,1,520.0,...,0.0,0.0,0.0,0.002243,1.923707,0.0,NaN,0.0,0.0,0.0
2862690,908,2022-11-09T09:29:05.000Z,2022-11-09T09:31:03.000Z,Bentak,Belaskoenea,73,74,Donostia-Hendaia,1,110.0,...,0.0,0.0,0.0,0.007987,0.331625,0.0,NaN,0.0,0.0,0.0
2862691,908,2022-11-09T09:31:21.000Z,2022-11-09T09:41:33.000Z,Belaskoenea,Irun,74,75,Donostia-Hendaia,1,100.0,...,0.0,0.0,0.0,0.002863,0.045776,0.0,NaN,0.0,0.0,0.0

In [6]:
# Filter rows with missing values in the 'avg_voltage' column
missing_avg_voltage = df[df['avg_voltage'].isnull()]

missing_avg_voltage[['current_station', 'next_station', 'avg_voltage']]

        current_station next_station  avg_voltage
888777             Deba      Mendaro          NaN
888798          Mendaro  Toletxegain          NaN
888821      Toletxegain     Elgoibar          NaN
888822      Toletxegain     Elgoibar          NaN
888851          Azitain        Eibar          NaN
...                 ...          ...          ...
3142732      San Pelaio      Zarautz          NaN
3142785          Zumaia      Zarautz          NaN
3142832        Aia-Orio      Usurbil          NaN
3142866         Usurbil    Errekalde          NaN
3142879       Errekalde       Añorga          NaN

[355 rows x 3 columns]

In [7]:
# Filter rows with missing values in the 'kilometres' column
missing_kilometres = df[df['kilometres'].isnull()]

missing_kilometres[['current_station', 'next_station', 'kilometres']]

        current_station next_station  kilometres
12              Usurbil     Aia-Orio         NaN
161           Errekalde       Añorga         NaN
178         Irun-Ficoba      Hendaia         NaN
182             Herrera        Altza         NaN
197             Usurbil     Aia-Orio         NaN
...                 ...          ...         ...
3157576         Durango    Kukullaga         NaN
3157663         Durango    Kukullaga         NaN
3157738         Durango    Kukullaga         NaN
3160152         Durango    Kukullaga         NaN
3160189          Zumaia      Zarautz         NaN

[28372 rows x 3 columns]

### Replacing missing values with median for avg_voltage

In [8]:
df_cleaned = df.copy()

# Calculating the median of the avg_voltage column
median_avg_voltage = df_cleaned['avg_voltage'].median()

# Replacing the missing values in the avg_voltage column with the median
df_cleaned['avg_voltage'].fillna(median_avg_voltage, inplace=True)

### Dropping missing values from rheostatic_energy and rheostatic_energy_weight

In [9]:
# Identify rows with missing values in rheostatic_energy and rheostatic_energy_weight
missing_rheostatic_energy_indices = df_cleaned[df_cleaned['rheostatic_energy'].isnull()].index
missing_rheostatic_energy_weight_indices = df_cleaned[df_cleaned['rheostatic_energy_weight'].isnull()].index

# Combine the indices of rows with missing values in either column
missing_indices = missing_rheostatic_energy_indices.union(missing_rheostatic_energy_weight_indices)

# Create a DataFrame with the rows and indices that have missing values
missing_values_df = df_cleaned.loc[missing_indices, ['rheostatic_energy', 'rheostatic_energy_weight']]

# Drop the rows with missing values from df_cleaned
df_cleaned = df_cleaned.drop(index=missing_indices)

### Dropping missing values from tiempo_parada and tiempo_marcha

In [10]:
# Identify rows with missing values in tiempo_parada and tiempo_marcha
missing_tiempo_parada_indices = df_cleaned[df_cleaned['tiempo_parada'].isnull()].index
missing_tiempo_marcha_indices = df_cleaned[df_cleaned['tiempo_marcha'].isnull()].index

# Combine the indices of rows with missing values in either column
missing_indices = missing_tiempo_parada_indices.union(missing_tiempo_marcha_indices)

# Create a DataFrame with the rows and indices that have missing values
missing_values_df = df_cleaned.loc[missing_indices, ['tiempo_parada', 'tiempo_parada']]

# Drop the rows with missing values from df_cleaned
df_cleaned = df_cleaned.drop(index=missing_indices)

### Imputing missing values in kilometres

Important note: As we can see here, some of the values do not make sense. For example Durango to Kukullaga can't be a distance of 0.01 km. We took data from google maps in order to get the accurate distance.

In [11]:
# Odd data
df[(df['current_station'] == 'Durango') & (df['next_station'] == 'Kukullaga')]\
    [['current_station', 'next_station', 'kilometres']].sort_values(by='kilometres').head()

        current_station next_station  kilometres
1917413         Durango    Kukullaga        0.01
844899          Durango    Kukullaga        0.01
1526426         Durango    Kukullaga        0.01
1654475         Durango    Kukullaga        0.01
624888          Durango    Kukullaga        0.01

In [12]:
# Dropping kms from cleaned dataset
df_cleaned.drop(columns=['kilometres'], inplace=True)

Based on the assumption that the distance in every trip from point A to B will remain constant, we decided to impute the missing values with the mode. We found the top 3 frequent values appearing for each current to next station per client line.

In [13]:
def top_3_frequent(series):
    return series.value_counts().nlargest(3).index.tolist()

# Group by 'current_station', 'next_station', 'client_line' and apply the custom function
top_3 = df.groupby(['current_station', 'next_station', 'client_line'])['kilometres'].apply(top_3_frequent).reset_index()

# Split the list into separate columns
top_3[['top1', 'top2', 'top3']] = pd.DataFrame(top_3['kilometres'].tolist(), index=top_3.index)

# Drop the original 'value' column
top_3 = top_3.drop(columns=['kilometres'])

Then we found the differences between each of the top 3 frequent values and found the minimum difference. If the difference between the first and second most frequent value was the least, we used the most frequent value and applied the same logic to the difference between the second and third, and third and first.

In [14]:
# Function to apply the logic
def determine_top(row):
    diff1_2 = abs(row['top1'] - row['top2'])
    diff2_3 = abs(row['top2'] - row['top3'])
    diff3_1 = abs(row['top3'] - row['top1'])

    # Find the minimum difference
    min_diff = min(diff1_2, diff2_3, diff3_1)
    
    # Return the first value of the pair with the smallest difference
    if min_diff == diff1_2:
        return row['top1']
    elif min_diff == diff2_3:
        return row['top2']
    else:
        return row['top1']

# Apply the function to each row
top_3['km_mode'] = top_3.apply(determine_top, axis=1)
top_3['station_curr_next'] = top_3['current_station'].astype('str') + '_' + top_3['next_station'].astype('str')

Additionally, to make sure that we were right, we manually plotted the distances between each station, following the curve of the track using google maps.

In [15]:
# Dataframe with manually checked distances using google maps
check = pd.read_csv('data/station_client_line_km_google_check.csv')
check[['current_station', 'next_station']] = check['station_curr_next'].str.split('_', expand=True)

check = check.drop(columns=['station_curr_next'])

In [16]:
check_combined = pd.merge(top_3[['current_station', 'next_station','client_line', 'km_mode']], check, 
                          on = ['current_station', 'next_station', 'client_line'])

If the difference between our most frequent value and the distance we obtained from google maps was greater than a kilometre, we used the distance we got from google.

In [17]:
def final_km(row):
    if row['diff'] > 1:
        return row['km']
    else:
        return row['km_mode']
    
check_combined['diff'] = abs(check_combined['km_mode'] - check_combined['km'])
check_combined['kilometres'] = check_combined.apply(final_km, axis=1)

In [18]:
check_combined.sort_values('diff', ascending=False).head(15)

,current_station,next_station,client_line,km_mode,km,diff,kilometres
49,Durango,Kukullaga,Bilbao-Donostia,0.01,20.70,20.69,20.70
9,Amorebieta Geralekua,Kukullaga,Bilbao-Donostia,0.01,16.50,16.49,16.50
109,Lurgorri,Amorebieta Geralekua,Ramal Amorebieta-Bermeo,0.30,12.70,12.40,12.70
44,Derio,Elotxelerri,L3 Txori,1.58,4.67,3.09,4.67
55,Elotxelerri,Derio,L3 Txori,1.58,4.67,3.09,4.67
140,Traña,Berriz,Bilbao-Donostia,0.86,3.40,2.54,3.40
156,Zangroiz,Sondika,Lutxana-Sondika,1.02,3.00,1.98,3.00
112,Lutxana,Zangroiz,Lutxana-Sondika,1.39,3.00,1.61,3.00
100,Lekunbiz,Zamudio,L3 Txori,0.83,1.45,0.62,0.83
93,Kukullaga,Otxarkoaga,Bilbao-Donostia,1.39,2.00,0.61,1.39
127,Otxarkoaga,Kukullaga,Bilbao-Donostia,1.39,2.00,0.61,1.39
155,Zamudio,Lekunbiz,L3 Txori,0.84,1.45,0.61,0.84
147,Uribarri,Matiko,L3 Txori,1.10,0.50,0.60,1.10
133,San Pelaio,Aia-Orio,Bilbao-Donostia,3.59,3.00,0.59,3.59
0,Aia-Orio,San Pelaio,Bilbao-Donostia,3.58,3.00,0.58,3.58

In [19]:
km_mode = check_combined[['current_station', 'next_station', 'client_line', 'kilometres']]

In [20]:
final_df = df_cleaned.merge(km_mode, on=['current_station', 'next_station', 'client_line'])

In [21]:
# Checking if any missing values are left
missing_values = final_df.isnull().sum().sort_values(ascending=False)

missing_values[missing_values > 0]

Series([], dtype: int64)

In [22]:
# Saving our cleaned dataset
final_df.to_csv('data/clean_clean_energy.csv', index=False)